.createUserForm {
  background-color: black;
  margin-top: 3.5rem;
  display: flex;
  padding: 1rem;
  width: 30%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.createUserForm > h3 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.createUserForm > input {
  padding: 0.1rem;
  border-radius: 10px;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.createUserForm > button {
  background-color: rgb(30, 21, 9);
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: 2px white solid;
  font-size: 2rem;
  width: 50%;
}

.createUserForm > button:hover {
  cursor: pointer;
  color: antiquewhite;
}
