doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/404.css")
        link(rel="stylesheet", href="/main.css")
        title User Creation Tools
    body 
        nav.navigation 
            a(href="/") Home
            a(href="/createUser") New user
            a(href="/UsersList") Users List
        h1.title 404: The page was not found
