doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/createUser.css")
        link(rel="stylesheet", href="/main.css")
        title User Creation Tool
    body 
        nav.navigation 
            a(href="/") Home
            a(href="/createUser") New user
            a(href="/usersList") Users List
        form.createUserForm(action="/createUser", method="POST")
            h3 User Info 
            input(placeholeder="First Name" type="text" name="firstName")
            input(placeholeder="Last Name" type="text" name="lastName")
            input(placeholeder="Age" type="number" name="age")
            input(placeholeder="Email" type="email" name="email")
            input(placeholeder="Password" type="password" name="password")
            input(placeholeder="Confirm Password" type="password" name="confirmPassword")
            button(type="submit") Create User 

            
